:root {
    --tile-width: 60px;
    --tile-height: 75px;
}

#the-header {
    color: whitesmoke;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.periodic-table {
    display: flex;
    width: max-content;
    height: max-content;
    margin: 0px auto;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    background-color: #1a1a1a;
}

.element {
    width: var(--tile-width);
    height: var(--tile-height);
    margin: 5px;
    text-align: center;
    border-radius: 4px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.3); */
    transition: transform 0.2s;
    cursor: pointer;
}

.element:hover {
    transform: scale(1.3);
    z-index: 10;
    box-shadow: 0 5px 15px rgba(255,255,255,0.2);
}

.atomic-number {
    margin: 3px 0px 0px 3px;
    font-size: 11px; 
    text-align: left;
    color: #aaa;
}

.average-atomic-mass {
    font-size: 10px;
    margin-top: 3px;
    text-align: center;
    color: #aaa;
}

.chemical-symbol {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #aaa;
    margin: 5px 0px;
}
.name {
    font-size: 9px;
    overflow: hidden;
    margin: 2px 0px;
    text-overflow: ellipsis;
    text-align: bottom;
    white-space: nowrap;
    color: #aaa;
}

.first-period, .second-period, .third-period, .fourth-period, .fifth-period, .sixth-period, .seventh-period {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seventh-period-lantanides {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: end;
}

.seventh-period-actinides {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.sp_cluster1, .sp_cluster2, .tp_cluster1, .tp_cluster2, .fp_cluster1, .fp_cluster2, .fp_cluster3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.metal {
    background-color: #333;
}
.nonmetal { background-color: #2b5c8f; }
.noble-gas { background-color: #613659; }
.alkali-metal { background-color: #a04040; }
.alkaline-earth { background-color: #b05000; }
.metalloid { background-color: #245045; }
.transition {
    background-color: darkblue;
}
.halogen {
    background-color: darkcyan;
}

.lantanides {
    background-color: darkred;
}

.actinides {
    background-color: darkgreen;
}